.DS_Store
._.DS_Store
/.idea
src/__pycache__
src/cnn_recognition/__pycache__
src/img2person/__pycache__
src/img2vec/__pycache__
src/lrcn_recognition/__pycache__
src/video2img/__pycache__
src/webm2video/__pycache__
src/VGG_ILSVRC_19_layers.caffemodel
src/VGG_ILSVRC_19_layers.npz
src/VGG_ILSVRC_16_layers.caffemodel
src/VGG_ILSVRC_16_layers.npz
tmp/img2person_batch.log
tmp/recognition.log
tmp/reversed_img2person_batch.log
venv/