__pycache__/
with_trained_model/cnn/*
with_trained_model/framed_cnn/*
with_trained_model/model/*
with_trained_model/result/*
with_trained_model/recognition/*
3dcnn_lstm_model/models/*
3dcnn_lstm_model/recognitions/*
3dcnn_lstm_model/acc.png
3dcnn_lstm_model/loss.png